dcase_util==0.2.18
easydict==1.9
matplotlib==3.4.1
numpy==1.22.0
pandas==1.3.0
PyAudio==0.2.11
pypandoc==1.6.4
runx==0.0.11
scikit_learn==1.0.1
scipy==1.7.1
setuptools==49.6.0.post20210108
simple_parsing==0.0.16.post2
torch==1.8.0
torchaudio==0.8.0a0+a751e1d
tqdm==4.60.0
